.loading-wrapper{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-icon{
    font-size: 3em;
    color:white;
    animation: loading 2s ease-in-out infinite 0s;
}

@keyframes loading{
    100%{
        transform: rotateZ(360deg);
    }
}